<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="layout/base :: common_header(~{::title}, ~{::link}, ~{::style})">-->
<head>
    <title>인트로 타이틀</title>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>인트로페이지 입니다.</li>
            </ul>
            <div th:if="${session.loginUser == null}" class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2" th:onclick="|location.href='@{/login}'|">로그인</button>
                <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/user/add}'|">회원가입</button>
            </div>
            <div th:unless="${session.loginUser == null}" class="col-md-3 text-end">
                <span th:text="|${session.loginUser.name}님, 환영합니다!|">로그인 사용자 이름</span>
                <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
            </div>
        </header>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">제목</th>
                        <th scope="col">게시일자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="article : ${articleList}">
                        <td th:text="${article.articleNo}">articleNo</td>
                        <td>
                            <a th:href="@{/article/{id}(id=${article.id})}" th:text="${article.title}">
                                게시글 제목
                            </a>
                        </td>
                        <td th:text="${article.noticeDate}">게시일</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>