<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>인트로 타이틀</title>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
            padding: 15px;
        }
    </style>
    <link th:href="@{/css/article_view.css}" href="../css/article_view.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/1.12.0/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/comment.js}" ></script>
    <script type="text/javascript" th:src="@{/js/view.js}" ></script>
</head>
<body>
    <div class="container article_wrapper">
        <div class="article_header">
            <div class="board_name">
                <span th:text="${article.board?.boardName}">게시판 명</span>
                <div style="float: right;">
                    <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/article/{id}/edit(id=${article.id})}';|">수정</button>
                    <button type="button" class="btn btn-secondary" th:onclick="|deleteArticle('${article.id}');|">삭제</button>
                    <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/board/list}'|">목록으로</button>
                </div>
            </div>
            <div class="title">
                <span th:text="${article.title}">게시글 제목</span>
            </div>
            <div class="writer">
                <span class="user_info" th:text="${article.noticeUser?.name}">게시자</span>
                <span class="notice_date" th:text="${#temporals.format(article.noticeDate, 'yyyy-MM-dd HH:mm:ss')}">게시일</span>
            </div>
        </div>
        <div class="content" th:utext="${article.content}"></div>
        <div class="attach_file" th:if="${fileList.size() > 0}">
            <ul>
                <li th:each="file : ${fileList}">
                    <a th:text="${file.realFileName}" href="#"></a>
                </li>
            </ul>
        </div>
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="text-center">
                        <input type="text" class="comment_input form-control w-75" th:field="${commentSaveForm.content}">
                        <button type="button" class="btn btn-primary" th:onclick="|addComment('${article.id}');|">등록</button>
                    </div>
                    <!--<div class="d-flex mb-4">
                        <div class="flex-shrink-0">
                            <img class="rounded-circle" src="" alert="profile">
                        </div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name 1</div>
                            코멘트 내용!!!
                            &lt;!&ndash; 대댓글 1 &ndash;&gt;
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0">
                                    <img class="rounded-circle" src="">
                                </div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name 1-1</div>
                                    코멘트 내용!!! 의 대댓글1111 !!!
                                </div>
                            </div>
                            &lt;!&ndash; 대댓글 2 &ndash;&gt;
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0">
                                    <img class="rounded-circle" src="">
                                </div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name 1-2</div>
                                    코멘트 내용!!! 의 대댓글2222 !!!
                                </div>
                            </div>

                        </div>
                    </div>-->
                    <div id="commentList">
                        <div class="d-flex"  th:each="comment : ${commentList}">
                            <div class="flex-shrink-0">
                                <img class="rounded-circle" src="" >
                            </div>
                            <div class="ms-3">
                                <div class="fw-bold" th:text="${comment.writeUser.name}">Commenter Name 2</div>
                                <span th:text="${comment.content}">댓글 내용</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--<div id="commentList" class="comment_area">
            <ul class="comment_list" th:if="${commentList.size() > 0}">
                <li th:each="comment : ${commentList}" th:text="${comment.content}"></li>
            </ul>
        </div>
        <div class="comment_write">

            <button type="button" th:onclick="|addComment('${article.id}');|">등록</button>
        </div>-->
    </div>
</body>
</html>